.App {
  text-align: center;
}
.card{
  width: 50rem;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.categorey{
  margin-top: 20px;
}
.post-head{
  margin: 0 10 0 10px;
}

.backgroun-Title{
  background-color:rgba(0,0,0,.03);
}

.submit-Post{
  float: right;
}
.link-to-home{
  color:white;
  text-decoration: none;
}


button {
  margin: 5px ;
}


.create-post-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form-style {
  margin:10px auto;
  max-width: 450px;
}

.form-style li {
  list-style: none;
}

.textarea-height{
  height: 100px;
}

.required{
  color:red;
}
